.gifs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: #C6DDFC;
    padding: 5px;
    
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.gif {
    margin: auto;
    max-width: 250px;
    padding: 5px 0px;
}

.gif img{
    max-width: 250px;
    height: auto;
}

@media (max-width: 1050px) {
    .gifs {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gifs {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .gifs {
        grid-template-columns: 1fr;
    }
}